body {
  font-family: "Fira Sans";
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  font-style: normal;
}

pre, code, data {
  font-family: "Fira Mono";
  font-size: 12px;
}

svg {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, input, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
}

h1, footer {
  font-weight: 500;
}

h2, nav {
  font-weight: 400;
}

p {
  font-size: 20px;
  text-align: justify;
}

q {
  font-style: italic;
}

footer {
  font-size: 14px;
  text-align: right;
}
